body { color: white; background-color: orchid; }
  h1 {color: green; font-family: Verdana; text-transform: uppercase; }
  h2 { font-family: Arial; }
  li {color: purple; }
  p {color: red; margin:60px; }